{erl_opts, [no_debug_info]}.
{deps, [{getopt, "1.0.1"}, {eministat, "0.10.1"}]}.

{escript_incl_apps, [ebench, getopt, eministat]}.
{escript_main_app, ebench}.
{escript_name, ebench}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
